//Slider basic
.transparent-slider {
  .base-slider-block {
	margin-top: 0 !important;
  }
}
.form-without-margins {
  .repeat-form-block {
	margin-bottom: 0 !important;
  }
}
.base-slider-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: size(70) 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(42);
	height: size(42);
	z-index: 33;
	background-repeat: no-repeat;
	background-size: size(23);
	background-position: center;
	background-color: #ffffff;
	border-radius: 50%;
	transition: background-position .5s ;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1.5rem);
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/orange-arrow-right.png");
	right: calc(100% - 80px);
	&:hover {
	  background-position: calc(100% - 5px);
	  transition: background-position .5s ease-in-out;
	}
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/orange-arrow-left.png");
	left: 0;
	&:hover {
	  background-position: 5px;
	  transition: background-position .5s ease-in-out;
	}
  }
}
.slider-image-wrap {
  flex: 0 0 50%;
  max-width: 50%;
  background-color: $orange-main;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slider-content-wrap {
  background-color: $orange-main;
  flex: 0 0 50%;
  max-width: 50%;
}
.slider-content-max-wrap {
  flex: 0 0 100%;
  max-width: 100%;
}
.slider-text-wrap {
  padding: 15%;
}
//Faq
.faq {
  padding: size(50) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: size(27);
	border-radius: size(39);
  }
  .question-title {
	display: flex;
	align-items: center;
	width: 100%;
	color: #292725;
	font-size: size(24);
	line-height: size(26);
	font-weight: 400;
	text-align: right;
	padding: 0;
	border: none !important;
  }
  .answer-body {
	background-color: #ffffff;
	padding: 0 size(80) size(42) 0;
	border-bottom-right-radius: size(39);
	border-bottom-left-radius: size(39);
	p {
	  @include base-text;
	}
  }
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: none !important;
  }
}
.question-header {
  border-radius: size(39);
  border: 2px solid $orange-main;
  padding-left: size(50);
}
.plus-icon, .minus-icon {
  width: 1rem;
  height: auto;
}
.arrow-top {
  position: absolute;
  left: size(35);
  width: size(19);
  transition: transform .5s;
}
.arrow-bottom {
  transform: scale(1, -1);
  transition: transform .5s;
}
.faq-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: size(59);
  margin-left: size(20);
  padding: size(8);
}
//Card post
.post-col {
  margin-bottom: size(50);
}
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .base-text {
	color: #303030;
	@include base-text;
	margin-bottom: size(13);
  }
}
.post-item-image {
  width: 100%;
  background-color: #aeacac;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: size(30);
  &:after {
	display: block;
	content: '';
	padding-bottom: 112%;
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  flex-grow: 1;
}
.post-item-title {
  color: #444444;
  @include mid-bigger-title;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: size(20);
  transition: color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.post-item-link {
  @include d-center;
  text-align: center;
  background-color: transparent;
  border-radius: size(20);
  height: size(40);
  color: #303030;
  padding: size(10) size(30);
  @include base-text;
  border: 2px solid $orange-main;
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $orange-main;
	transition: color, background-color .5s;
  }
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Card product
.card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 15px 0;
  height: 100%;
}
.prod-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 3px 4px 7px rgba(7, 6, 6, 0.16);
  background-color: #ffffff;
  padding: size(24) 0 0 0;
  margin-bottom: size(24);
}
.prod-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.card-prod-img {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 size(24) size(24) size(24);
  &:after {
	content: '';
	display: block;
	padding-bottom: 95%;
  }
}
.prod-card-title {
  color: #444444;
  @include mid-bigger-title;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  &:hover {
	color: $blue-main;
  }
}
.card-buttons-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.prod-button {
  @include d-center;
  width: 50%;
  height: size(57);
  border: none !important;
  @include base-text;
  color: #ffffff;
  img {
	margin: 0 5px;
	width: size(30);
  }
  &:hover {
	color: #ffffff;
  }
}
.check-icon {
  display: none;
  &.add-success {
	display: block;
  }
}
.not-added-yet {
  @include d-center;
  &.add-success {
	display: none;
  }
}
.prod-link {
  background-color: $orange-main;
}
.add-prod-button {
  background-color: #56575c;
}
.card-prod-price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-price {
  @include mid-bigger-title;
  font-weight: 500;
  text-align: center;
  margin: 0 5px;
}
.card-base-price {
  color: #444444;
}
.card-sale-price {
  color: #acacac;
  text-decoration: line-through;
}
//Accordion products
.accordion-trigger {
  &.minus-acc {
	.plus-icon-acc {
	  display: none;
	}
	.minus-icon-acc {
	  display: block;
	}
  }
  &:hover {
	text-decoration: unset;
  }
}
.plus-icon-acc {
  font-size: size(24);
  line-height: size(30);
  text-align: center;
  color: $blue-main;
  font-weight: 500;
  text-decoration: none !important;
}
.minus-icon-acc {
  display: none;
  color: #ffffff;
}
.home-products {
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: unset !important;
  }
  .more-link {
	background-color: $blue-main;
	color: #ffffff;
	&:hover {
	  color: #ffffff;
	  border: 1px solid $blue-main;
	}
  }
  .card {
	border: none !important;
	border-radius: 0 !important;
	&:first-child .card-header {
	  border-top-right-radius: size(23) !important;
	  border-top-left-radius: size(23) !important;
	}
	&:last-child .card-header {
	  border-bottom-right-radius: size(23) !important;
	  border-bottom-left-radius: size(23) !important;
	}
  }
  .card-header {
	padding: size(20) size(40) size(20) size(20);
	border: none !important;
	border-radius: 0 !important;
	background-color: #ebeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&.active-card {
	  background-color: $blue-main;
	  .prod-cat-title {
		color: #ffffff;
	  }
	}
  }
  .card-body {
	background-color: #ebeaea;
  }
}
.prod-cat-title {
  color: $text-color;
  font-size: size(24);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  &:hover {
	color: $text-color;
	text-decoration: unset;
  }
}
.subcat-item a {
  color: $text-color;
  font-size: size(24);
  line-height: size(26);
  font-weight: 400;
  transition: color .5s;
  &:hover {
	color: $orange-main;
	transition: color .5s;
  }
}
.breads-woo nav {
  justify-content: flex-start !important;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $blue-main;
}
.simple-addprod {
  background-color: #56575c !important;
  color: #ffffff !important;
}
