div.wpcf7 input,
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 textarea {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 select {
  -webkit-appearance: none;
  @include input-style;
  background-image: url("../iconsall/form-select.png");
  background-position: size(20) center;
  background-repeat: no-repeat;
  padding-right: size(23);
  background-size: size(19);
  cursor: pointer;
}
div.wpcf7 textarea {
  background-image: url("../iconsall/form-textarea.png");
  height: size(203);
  padding-top: 12px;
  background-position: calc(100% - 9px) 8px;
}
div.wpcf7 input[type="submit"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: size(32);
  background-image: url("../iconsall/submit-orange-r.png");
  color: #ffffff;
  font-size: size(22);
  line-height: size(24);
  font-weight: 700;
  text-align: center;
  background-position: 9px center;
  background-repeat: no-repeat;
  background-size: size(47);
  padding-left: size(62);
  background-color: $orange-main;
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	color: #292a2c;
  }
}
.repeat-form-block {
  background-color: $blue-main;
  padding: size(40) 0;
  margin: size(50) 0;
}
.file-input {
  display: none;
}
div.wpcf7 input[type="file"] {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @include input-style;
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: size(49);
  background-image: url("../iconsall/form-file.png");
  background-position: calc(100% - 18px) center;
  background-repeat: no-repeat;
  background-size: size(16);
  text-align: right;
  margin-bottom: 10px;
}
.form-camp-block {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"],
  div.wpcf7 select {
	height: size(65);
	border-radius: size(20);
	border: 1px solid #b7b7b7;
	background-color: #ffffff;
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"] {
	background-image: none;
	padding-right: 8px !important;
	padding-left: 8px !important;
  }
  label {
	@include base-text;
	color: #292a2c;
	margin: 0 1rem 10px 1rem;
  }
  .wpcf7-form .wpcf7-form-control-wrap {
	padding: 0 1rem;
  }
  div.wpcf7 input[type="checkbox"] {
	width: 2rem;
  }
  .wpcf7-checkbox label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  .wpcf7-list-item-label {
	margin: 0 1rem;
  }
  .check-col .wpcf7-form-control-wrap {
	display: flex;
	justify-content: center;
  }
}
.text-accept {
  @include base-title;
  text-align: center;
  font-weight: 700;
  color: $text-color;
  margin: 1rem 0;
}
.col-margin-bottom {
  margin-bottom: size(40);
}
