
.fixed-socials {
  position: fixed;
  left: 1%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 222;
}
.fix-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(55);
  height: size(55);
  padding: size(15);
  margin-bottom: size(18);
  border-radius: 50%;
  background-color: #292323;
  transition: background-color .5s;
  &:hover {
	background-color: $blue-main;
	transition: background-color .5s;
  }
  .fab, .fas {
	color: #ffffff;
	font-size: size(30);
  }
}
.pop-trigger {
  position: relative;
  cursor: pointer;
  z-index: 99999;
}
.pop-form {
  position: fixed;
  right: 0;
  top: 18%;
  width: calc(100% - 3rem);
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
  &.show-popup {
	overflow-y: scroll;
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  .logo {
	margin-bottom: size(45);
  }
}
.pop-form-subtitle,
.pop-form-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.pop-form-title {
  font-size: size(40);
  line-height: size(42);
}
.pop-form-subtitle {
  font-size: size(28);
  line-height: size(32);
}
.float-form {
  position: relative;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: size(40) 10%;
  background-color: $blue-main;
  background-image: url("../img/part-back.png");
  &.show-float-form {
	opacity: 1;
	transform: translateX(0);
  }
  .logo {
	margin-bottom: size(15);
	img {
	  max-height: size(100);
	}
  }
}
//Header
.tel-wrap-small {
  @include d-center;
}
ul.languages {
  margin: 0 size(15);
  li.active {
	display: none;
  }
  a {
	@include d-center;
	@include mid-text;
	color: #ffffff;
	&:hover {
	  color: #ffffff;
	}
  }
}
.reg-lang-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.register-link {
  @include d-center;
  color: #ffffff;
  @include mid-text;
  &:hover {
	color: #ffffff;
  }
  img {
	width: size(18);
	margin-right: 10px;
  }
}
.header-tel {
  @include d-center;
  flex-direction: column;
  border-radius: 0 0 size(35) size(35);
  background-color: $blue-main;
  color: #ffffff;
  text-align: center;
  margin-top: -0.75rem;
  padding: size(15) size(40);
  &:hover {
	.tel-number, .tel-text {
	  color: #ffffff;
	  transition: color .5s;
	}
  }
}
.tel-number {
  font-size: size(30);
  line-height: size(32);
  font-weight: 700;
  font-family: $almoni-tzar;
  transition: color .5s;
}
.tel-text {
  font-size: size(18);
  line-height: size(20);
  font-weight: 500;
  transition: color .5s;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  box-shadow: -8px 1px 17px 1px rgba(43, 40, 40, 0.1);
  z-index: 999999;
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-left: 1px solid #ffffff;
	  a{
		color: #ffffff;
		font-size: size(18);
		line-height: size(20);
		padding: 0 9px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
	  }
	  &:last-child {
		border-left: none;
	  }
	}
  }
}
.header-top nav ul li {
  &:hover {
	ul.sub-menu {
	  opacity: 1;
	  pointer-events: all;
	  transition: all .5s;
	}
  }
  ul.sub-menu {
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	z-index: 99999;
	padding: size(30);
	height: auto !important;
	align-items: stretch;
	border-bottom-right-radius: size(10);
	border-bottom-left-radius: size(10);
	background-color: #ffffff;
	opacity: 0;
	pointer-events: none;
	li {
	  justify-content: flex-start !important;
	  align-items: flex-start !important;
	  margin-bottom: 10px;
	  a {
		white-space: nowrap;
	  }
	}
  }
}
.menu-item-has-children {
  position: relative;
}
.back-to-menu {
  display: none !important;
}
.header-top {
  position: relative;
  @include d-center;
  background-color: $blue-main;
  padding: size(10) 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom {
  background-color: #ffffff;
  padding: 0.75rem 0;
  .logo img {
	max-height: size(53);
  }
  nav {
	ul{
	  display: flex;
	  height: 100%;
	  li{
		display: flex;
		justify-content: center;
		align-items: center;
		border-left: 1px solid $text-color;
		a{
		  color: $text-color;
		  font-size: size(18);
		  font-weight: 400;
		  font-style: normal;
		  text-align: center;
		  letter-spacing: normal;
		  line-height: size(20);
		  padding: 0 9px;
		}
		&:last-child  {
		  border-left: none;
		}
	  }
	}
  }
  ul.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	flex-direction: column;
	background-color: #ffffff;
	height: auto;
	align-items: center;
	li {
	  width: 100%;
	}
	a {
	  position: relative;
	  display: flex;
	  width: 100%;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  font-weight: 500;
	  padding: size(10);
	  font-size: size(15);
	  line-height: size(18);
	  &:after {
		position: absolute;
		display: block;
		content: '';
		height: 1px;
		width: 80%;
		bottom: 0;
		background-color: $blue-main;
	  }
	}
	li:last-child a:after {
	  display: none;
	}
  }
}




footer {
  display: flex;
  flex-direction: column;
}
h3.foo-title {
  color: #ffffff;
  font-size: size(23);
  line-height: size(25);
  font-weight: 400;
  margin-bottom: size(10);
}
.footer-container-menu {
  margin-top: size(90);
  li {
	position: relative;
	a {
	  display: flex;
	  align-items: center;
	  color: #fafafa;
	  font-size: size(16);
	  font-weight: 400;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(18);
	  padding-right: 10px;
	  margin-bottom: 0.5rem;
	}
	a:hover {
	  color: #ffffff;
	  cursor: pointer;
	  transition: all .5s;
	}
  }
  li::before {
	position: absolute;
	top: 5px;
	right: 0;
	content: '';
	width: 3px;
	height: 5px;
	display: inline-block;
	border: 3px solid transparent;
	border-right: 3px solid #fafafa;
  }
}
.menu-border-top {
  position: relative;
  padding-top: 0.5rem;
  border-top: 2px solid #ffffff;
  &:before {
	content: '';
	display: block;
	background-color: $orange-main;
	height: 3px;
	position: absolute;
	top: -2.5px;
	right: 0;
	width: 40%;
  }
}
.footer-main {
  position: relative;
  background-color: $blue-main;
  padding-top: size(60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/foo-back.png");
}
.foo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foo-contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  background-color: $orange-main;
  padding: 1rem;
  width: size(109);
  height: size(109);
  border-radius: 50%;
  margin-bottom: 1rem;
  transition: background-color .5s;
  &:hover {
	background-color: transparent;
	transition: background-color .5s;
  }
  img {
	max-height: 98%;
  }
}
.foo-links-container {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.foo-link-title, .foo-link-subtitle {
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.foo-link-title {
  font-size: size(25);
  line-height: size(31);
  font-weight: 400;
  margin-bottom: size(15);
}
.foo-link-subtitle {
  font-size: size(15);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
}
#go-top {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}
.top-arrow-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(103);
  height: size(103);
  border-radius: 50%;
  background-color: $orange-main;
  border: 1px solid #ffffff;
  img {
	position: absolute;
	width: size(60);
	top: 1.25rem;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-button-text {
  margin-top: 1rem;
  color: #fcf9f4;
  font-size: size(22);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  text-align: center;
}
.foo-form-text {
  * {
	color: #ffffff;
	text-align: center;
  }
  h1, h2 {
	font-size: size(42);
	line-height: size(44);
	font-weight: 400;
  }
  margin-bottom: size(35);
}
.footer-main {
  div.wpcf7 input[type="submit"] {
	background-image: url("../iconsall/submit-blue-r.png");
	background-color: $blue-main;
	border: 2px solid #ffffff;
  }
}
//Fixed more
.fix-wrap-col {
  position: fixed;
  right: 0;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}
.fix-wrap-item {
  @include d-center;
  width: size(84);
  height: size(84);
  padding: 9px 7px 9px 11px;
  box-shadow: -3px 1px 19px 2px rgba(43, 40, 40, 0.33);
  border-radius: size(42) 0 0 size(42);
  background-color: #ffffff;
  margin-bottom: size(28);
}
.inside-circle-img {
  width: size(66);
}
