.product-page-body {
  margin-top: size(40);
  margin-bottom: size(60);
}
.product-body {
  margin-top: size(30);
}
.product_title {
  color: $blue-main;
  font-size: size(35);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
  margin-bottom: size(30);
}
.price {
  display: flex;
  align-items: flex-start;
  color: #444444 !important;
  font-size: size(37) !important;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(38);
  text-align: center;
  del .amount {
	color: #acacac;
	font-size: size(37);
	font-style: normal;
	letter-spacing: normal;
	line-height: size(38);
	text-align: center;
	opacity: 1;
	margin: 0 10px;
  }
}
.woocommerce-product-details__short-description {
  margin-bottom: size(25);
  p {
	@include base-text;
  }
}
.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a {
  color: #001630;
  font-size: 1rem;
  font-weight: 400;
}
.plus, .minus, .quantity input[type="number"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(43);
  height: size(38);
  border: 1px solid $blue-main;
  background-color: #ffffff;
  color: #292323;
  font-size: size(33);
  font-weight: 500;
  text-align: center;
}
.woocommerce div.product form.cart div.quantity {
  margin: 0 10px;
}
.quantity {
  input[type="number"] {
	width: size(60) !important;
	font-size: size(28);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }
  /* Firefox */
  input[type="number"] {
	-moz-appearance: textfield;
  }
}
//Product gallery
.product-body {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(15);
	height: size(29);
	z-index: 33;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left.png");
  }
  .product-main-col {
	position: relative;
	display: flex;
	flex-direction: column;
  }
}
.gallery-top-item {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 9px;
  @include product-image;
  img.gallery-image-img {
	max-width: calc(100% - 2rem);
	max-height: calc(100% - 2rem);
  }
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
}
.view-more {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  width: size(36);
  height: auto;
  z-index: 8;
}
.gallery-list {
  display: flex !important;
  align-items: stretch !important;
}
.gallery-list-item {
  margin: 9px;
  width: 100%;
  @include product-image;
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
}
.product_meta {
  display: flex;
  flex-direction: column;
  margin: size(20) 0;
  flex: 0 0 50%;
  max-width: 50%;
  a {
	color: #585858;
	font-weight: 400;
	&:hover {
	  color: #585858;
	}
  }
  span {
	color: #585858;
	font-weight: 500;
	.sku {
	  font-weight: 400;
	}
  }
}
//Accordion (product)
.accordion-button-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .btn {
	padding: 0;
	border: none !important;
  }
}
.product-info-acc {
  .card {
	border: none !important;
	border-radius: 0 !important;
	padding: 0.5rem 0;
  }
  .text-output p {
	margin-bottom: 0;
  }
  .accordion-button-wrap {
	margin-bottom: 0;
  }
}
.product-info-title {
  color: $blue-main;
  @include mid-bigger-title;
  font-weight: 500;
}
.accordion-symbol {
  color: #292323;
  font-weight: 500;
  @include mid-bigger-title;
}
.card .slider-output {
  padding-top: 1rem;
}
.for-meta-wrap {
  flex-grow: 1;
}
.for-price-wrap {
  width: 30%;
}
.custom-price-display {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.single_add_to_cart_button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  img {
	margin-left: 8px !important;
  }
}
.product-page-title {
  text-align: right;
  color: $blue-main;
}
.product-meta {
  .price ins {
	text-decoration: none !important;
  }
}
.price-name {
  color: $text-color;
  font-weight: 700;
  text-align: center;
}
.accordion-button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $orange-main;
  margin-bottom: size(15);
  padding-bottom: 10px;
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: unset !important;
  }
  .btn {
	width: 1rem;
	height: 1rem;
	padding: 0;
	border: none !important;
  }
}
.accordion-symbol {
  font-size: size(33);
  font-weight: 500;
  line-height: size(35);
  color: #292323;
}
.minus-icon {
  display: none !important;
}
.show-icon {
  display: block !important;
}
.hide-icon {
  display: none !important;
}
.product-main-col {
  .cart {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
  }
  .quantity {
	margin: 0 10px;
  }
  .button, input.button {
	flex: 0 0 100%;
	max-width: 100%;
	margin: 1rem 0 !important;
  }
}
.prod-gallery-page {
  .woocommerce-product-gallery__image {
	&:first-child {
	  flex: 0 0 100%;
	  max-width: 100%;
	  margin-bottom: 10px;
	}
	flex: 0 0 33.3%;
	max-width: 33.3%;
	padding: 5px;
  }
  .woocommerce-product-gallery__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	img {
	  width: 100% !important;
	  box-shadow: -8px 1px 17px 1px rgba(43, 40, 40, 0.1);
	}
  }
}
.product-page-title-hide-big {
  display: none;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
