/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  .prod-button {
	@include mid-bigger-title;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
}
@media (max-width: 1500px) {
  #go-top {
	top: -2rem;
	bottom: unset;
  }
  .why-img-col, .why-content-col {
	flex: 0 0 48%;
	max-width: 48%;
  }
  .prod-button {
	font-size: size(16);
	line-height: size(18);
	img {
	  margin: 0 5px;
	  width: size(20);
	}
  }
  .review-image-wrap {
	min-width: 5.5rem;
	width: 5.5rem;
	height: 5.5rem;
	margin-left: -5.5rem;
  }
  .content-part {
	flex: 0 0 20%;
	max-width: 20%;
  }
  .content-part-big {
	flex: 0 0 60%;
	max-width: 60%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 19px;
  }
  .news-col-home {
	margin-top: 3rem;
  }
  .camp-sl-img {
	order: -1;
	margin-bottom: 1rem;
  }
  .foo-link {
	margin-bottom: size(20);
  }
  .show-title-form {
	font-size: size(36);
	line-height: size(40);
  }
  .show-subtitle-form {
	@include mid-text;
  }
  .why-img-col, .why-content-col {
	flex: 0 0 90%;
	max-width: 90%;
  }
  .counter-item {
	flex: 0 0 33.3%;
	max-width: 33.3%;
	&:nth-child(3n) .counter-number {
	  border-left: none;
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 18px;
  }
  .product-page-title-hide {
	display: none;
  }
  .product-page-title-hide-big {
	display: block;
  }
  .prod-gallery-page {
	margin-bottom: 2rem;
  }
  .home-sl-img {
	display: none;
  }
  .vac-img-col-r {
	order: 2;
  }
  .fix-wrap-item {
	width: size(54);
	height: size(54);
	padding: 5px;
  }
  .inside-circle-img {
	width: size(46);
  }
  .vac-img-col-l {
	display: none;
  }
  .foo-menu {
	margin-bottom: size(30);
  }
  .hidden-head-col {
	display: none;
  }
  .tel-text {
	display: none;
  }
  .tel-wrap-small {
	flex-direction: column;
  }
  .tel-number {
	font-size: size(20);
  }
  .header-tel {
	padding: 5px size(15);
  }
  .arrow-top {
	left: size(20);
  }
  .single-form-col {
	margin-top: 2rem;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .review-image-wrap {
	margin-left: -4.5rem;
  }
  .content-part:last-child {
	flex: 0 0 100%;
	max-width: 100%;
	order: -1;
  }
  .content-part:first-child {
	flex: 0 0 30%;
	max-width: 30%;
  }
  .content-part-big {
	flex: 0 0 70%;
	max-width: 70%;
  }
  .reg-img-col {
	order: -1;
	margin-bottom: size(50);
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 19px;
  }
  #MainNav li {
	border: none !important;
  }
  .home-slider-block {
	.base-link-orange {
	  margin-top: 4rem !important;
	}
  }
  .faq-icon {
	min-width: size(49);
	margin-left: 0;
	padding: size(8);
  }
  .question-header {
	padding: 10px 0 10px size(35);
  }
  .faq .answer-body {
	padding: size(20) size(45) size(20) size(20);
  }
  .fix-social-link {
	width: size(40);
	height: size(40);
	padding: size(10);
	margin-bottom: size(8);
	.fab, .fas {
	  font-size: size(18);
	}
  }
  .header-tel {
	position: fixed;
	border-radius: 0;
	bottom: 0;
	z-index: 999;
	right: 0;
	width: 100%;
  }
  .tel-wrap-small {
	flex-direction: row;
  }
  .header-bottom {
	padding: 0.5rem 0;
	nav {
	  ul{
		li{
		  a{
			font-size: size(15);
			line-height: size(16);
			padding: 0 5px;
		  }
		}
	  }
	}
  }
  .get-vacancy {
	padding: size(10) size(23);
	height: auto;
	background-size: size(30);
	span {
	  font-size: size(16);
	  line-height: size(18);
	  padding-left: size(45);
	}
  }
  .social-trigger {
	.fas {
	  font-size: size(30);
	}
  }
  .slider-content-wrap, .slider-image-wrap {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .slider-image-wrap {
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 65%;
	}
  }
  #go-top {
	right: 1rem;
  }
  .top-arrow-wrap {
	width: size(65);
	height: size(65);
	img {
	  width: size(35);
	  top: 1rem;
	}
  }
  .top-button-text {
	font-size: size(17);
	line-height: size(18);
  }
  .slider-text-wrap {
	padding: 20% 10%;
  }
  .reviews-block {
	padding-bottom: size(70);
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: calc(100% + 2rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 2rem);
	  left: unset;
	}
	[dir="rtl"] .slick-next{
	  left: calc(50% - 2rem);
	}
  }
  .content-part:first-child {
	flex: 0 0 100%;
	max-width: 100%;
	order: 3;
  }
  .content-part-big {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .img-worker-home {
	position: relative;
	bottom: unset;
	max-height: calc(100% + 3rem);
	max-width: 100%;
  }
  .counter-item {
	flex: 0 0 50%;
	max-width: 50%;
	&:nth-child(even) .counter-number {
	  border-left: none;
	}
  }
}
@media (max-width: 650px) {
  .review-image-wrap {
	margin-left: -5.5rem;
  }
  .review-item {
	margin: 0 1rem 0 4.5rem;
  }
  .logo-vac-form {
	flex: 0 0 40%;
	max-width: 40%;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .counter-item {
	flex: 0 0 95%;
	max-width: 95%;
  }
  .counter-number {
	border: none !important;
  }
  .pop-form {
	width: calc(100% - 2rem);
  }
  .header-bottom nav {
	display: none;
  }
  .row-header-bottom {
	flex-direction: row-reverse;
  }
  .price-form-wrapper div.wpcf7 input {
	height: 3rem !important;
  }
  .slider-with-vacancies {
	margin-bottom: 3rem;
	.slick-prev, .slick-next {
	  top: calc(100% + 2rem);
	}
	.slick-prev {
	  right: calc(50% - 3rem);
	  left: unset;
	}
	.slick-next {
	  left: calc(50% - 3rem);
	}
  }
  .vac-body-wrapper {
	padding: 1rem 1rem 0 1rem;
  }
  .reason-title {
	font-size: size(55);
	line-height: size(55);
  }
  .number-circle-col {
	margin-bottom: size(18);
  }
  .reason-number {
	font-size: size(143);
	line-height: size(117);
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .prod-button {
	font-size: size(30);
	line-height: size(28);
	img {
	  width: size(30);
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .foo-menu, .foo-link {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .img-worker-home {
	max-width: 85%;
  }
  .reason-col {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 0;
  }
  .reason-title {
	font-size: size(50);
	line-height: size(48);
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
  .prod-button {
	font-size: size(20);
	line-height: size(18);
	img {
	  width: size(20);
	}
  }
  .down-col {
	order: 2;
	display: flex;
	justify-content: flex-end;
  }
  .file-col {
	order: 3;
  }
  .slide-item {
	flex-direction: column;
  }
  .slide-icon {
	margin: 0 0 1rem 0;
  }
  .contact-form-wrap {
	div.wpcf7 input[type="submit"] {
	  font-size: size(18);
	}
  }
}
