.vacancy-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  height: 20rem;
}
.price-form-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  border-radius: size(28);
  background-color: $blue-main;
  div.wpcf7 input {
	height: size(77) !important;
  }
  div.wpcf7 input[type="submit"] {
	background-color: $orange-main;
	height: size(64);
	font-size: size(30);
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	padding: 0 size(60);
  }
}
.put-form-here {
  position: relative;
  z-index: 99;
}
.take-form {
  display: none;
}
.form-for-hire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  background-color: $blue-main;
  .hidden-col {
	display: none;
  }
}
.close-form {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 9999;
  svg {
	fill: #ffffff;
	transition: opacity .5s;
  }
  &:hover svg {
	opacity: 0.7;
	transition: opacity .5s;
  }
}
.form-vacancy-wrap {
  display: flex;
  flex-direction: column;
}
.show-vacancy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vacancy-image-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  img {
	max-height: 95%;
  }
}
.vacancy-non-content {
  position: relative;
  background-color: white;
}
.socials-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $blue-main;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 3px;
  margin-bottom: 3px;
}
.all-socials {
  position: absolute;
  display: flex;
  bottom: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
  &.show-share {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  .fa, .fab, .fal, .far, .fas {
	color: #ffffff;
	font-size: 0.75rem;
  }
}
//Vacancies
.vacancies-output {
  .form-for-hire {
	padding: 2% 8%;
  }
  .price-form-wrapper {
	.file-input {
	  height: 2.6rem;
	}
  }
  .put-form-here {
	overflow: hidden;
  }
}
.info-vac-wrap {
  margin-bottom: size(30);
}
.read-more-link {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: $blue-main;
  font-size: size(20);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(23);
  background-color: transparent;
  margin-top: 10px;
  transition: background-color .5s;
  &:after {
	content: '+';
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: size(26);
	height: size(26);
	background-color: $orange-main;
	border-radius: 50%;
	color: $blue-main;
	border: 2px solid #000000;
	font-size: size(30);
	text-align: center;
	transition: color, background-color .5s;
  }
  &:hover {
	color: $orange-main;
	&:after {
	  background-color: #ffffff;
	  transition:  background-color .5s;
	}
  }
}
.vac-item-col {
  margin-bottom: 2rem;
}
.vac-body-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: size(43) size(43) 0 size(43);
}
.trigger-wrap {
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.social-trigger {
  cursor: pointer;
  .fas {
	font-size: size(40);
	color: $text-color;
  }
}
.page-vac-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: size(30);
  border: 2px solid $blue-main;
}
.slider-with-vacancies {
  .slick-list {
	display: flex;
	align-items: stretch;
	justify-content: center;
  }
  .slick-track {
	display: flex;
	justify-content: center;
  }
  .vac-item-col {
	padding-right: 15px;
	padding-left: 15px;
  }
  .slick-prev, .slick-next {
	width: size(36);
	height: size(36);
	background-size: size(35);
	background-position: center;
	background-repeat: no-repeat;
  }
  .slick-prev {
	background-image: url("../iconsall/rev-arrow-right.png");
	right: -2rem;
	left: unset;
  }
  .slick-next {
	background-image: url("../iconsall/rev-arrow-left.png");
	left: -2rem;
  }
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: unset !important;
  }
}
.get-vacancy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(23) size(50);
  min-width: 50%;
  height: size(73);
  background-color: $orange-main;
  align-self: center;
  border-radius: size(32);
  margin-top: 2rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 9px center;
  background-size: size(46);
  background-image: url("../iconsall/submit-orange-r.png");
  transition: background-position .5s;
  color: #ffffff;
  span {
	@include mid-text;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	padding-left: size(55);
  }
  &:hover {
	background-position: 0 center;
	transition: background-position .5s;
  }
}
.misra-wrap {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 3px;
}
.page-vac-title {
  font-size: size(22);
  line-height: size(24);
  font-weight: 500;
}
.page-vac-title-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: size(30) 5%;
  border-top-right-radius: size(28);
  border-top-left-radius: size(28);
  background-color: $blue-main;
}
.vac-art {
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  @include mid-bigger-title;
}
.vacancy-card-title {
  color: #ffffff;
  @include mid-text;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
}
.vacancy-body-output {
  font-size: size(20);
  line-height: size(22);
  font-weight: 400;
}
.page-vac-item-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.show-title-form, .show-subtitle-form {
  color: #ffffff;
  text-align: center;
}
.show-title-form {
  font-size: size(45);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(50);
}
.show-subtitle-form {
  @include mid-bigger-title;
  font-weight: 500;
  margin-bottom: size(17);
}
.more-link {
  @include d-center;
  color: #ffffff;
  cursor: pointer;
  border-radius: size(23);
  border: 1px solid #ffffff;
  background-color: #39393a;
  padding: 5px size(90);
  transition: color, border, background-color .5s;
  &:hover {
	color: #39393a;
	border: 1px solid #39393a;
	background-color: transparent;
	transition: color, border, background-color .5s;
  }
  &.hide {
	display: none;
  }
}
//vacancy-page
.vacancy-page {
  .page-vac-title {
	color: #031617;
	font-size: size(24);
	line-height: size(26);
	font-weight: 500;
  }
}
.base-vacancy-title {
  color: #272727;
  font-size: size(40);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(41);
}
.va-col-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: size(60);
  .get-vacancy {
	margin-top: 0;
  }
  .trigger-wrap {
	bottom: 0;
	right: -2rem;
  }
}
.vac-page-pop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-100%);
  z-index: 999;
  transition: all .5s;
  .price-form-wrapper {
	padding-top: 3rem !important;
	width: auto;
	height: auto;
	flex: 0 0 50%;
	max-width: 50%;
  }
  &.show-popup {
	transform: translateY(0);
	opacity: 1;
	pointer-events: all;
	transition: all .5s;
  }
}
