body {
  direction: ltr;
  text-align: left;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 input[type=tel],
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  padding-left: 2.7272727273rem;
  padding-right: 8px;
  background-position: 10px center;
}

div.wpcf7 select {
  background-position: calc(100% - 14px) center;
  padding-left: 1.0454545455rem;
  padding-right: 1.8181818182rem;
}

div.wpcf7 textarea {
  padding-left: 2.7272727273rem;
  padding-right: 8px;
  background-position: 10px 10px;
}

div.wpcf7 input[type=submit] {
  background-position: calc(100% - 6px);
  padding-right: 2.9545454545rem;
  padding-left: 8px;
  background-image: url("../iconsall/submit-orange-l.png");
}

.footer-container-menu li a {
  padding-right: 0;
  padding-left: 10px;
  margin-bottom: 0.5rem;
}
.footer-container-menu li::before {
  right: unset;
  left: 0;
  border: 3px solid transparent;
  border-left: 3px solid #ffffff;
  border-right: unset;
}

.menu-border-top:before {
  right: unset;
  left: 0;
}

.fixed-socials {
  left: unset;
  right: 1%;
}

#go-top {
  right: unset;
  left: 2rem;
}

.pop-form {
  right: unset;
  left: 0;
}

#MainNav ul li {
  border-left: unset;
  border-right: 1px solid #ffffff;
}
#MainNav ul li:last-child {
  border-right: none;
}

.header-bottom nav.bottom-nav li {
  border-left: unset;
  border-right: 1px solid #1e1e1e;
}
.header-bottom nav.bottom-nav li:last-child {
  border-right: none;
}

.register-link img {
  margin-right: unset;
  margin-left: 10px;
}

.footer-main div.wpcf7 input[type=submit] {
  background-image: url("../iconsall/submit-blue-l.png");
}

.get-vacancy {
  background-position: calc(100% - 9px) center;
  background-image: url("../iconsall/submit-orange-l.png");
}
.get-vacancy span {
  padding-left: unset;
  padding-right: 2.5rem;
}

.vac-art {
  margin-left: 0 !important;
  margin-right: 10px;
}

.base-output li {
  margin-right: unset;
  margin-left: 1rem;
}

.faq-icon {
  margin-right: 0.9090909091rem;
  margin-left: 0;
}

.arrow-top {
  left: unset;
  right: 1.5909090909rem;
}

.question-header {
  padding-right: 2.2727272727rem;
  padding-left: unset;
}

.faq .question-title {
  font-weight: 400;
  text-align: left;
}
.faq .answer-body {
  padding: 0 0 1.9090909091rem 3.6363636364rem;
}

.page-body .nav-item.tab-style-col {
  border-right: 1px solid #272727;
  border-left: none;
}
.page-body .nav-item.tab-style-col:last-child {
  border-right: none;
}

.product-page-title {
  text-align: left;
}

.base-link {
  padding: 0.4545454545rem 4.1818181818rem 0.4545454545rem 2.9545454545rem;
}
.base-link:after {
  background-image: url("../iconsall/blue-arrow-right.png");
}
.base-link:after {
  right: 8px;
  left: unset;
}

.home-form-block div.wpcf7 input[type=submit] {
  background-image: url("../iconsall/submit-blue-l.png");
}

.base-link-orange:after {
  background-image: url("../iconsall/white-arrow-right.png");
}

.counter-item:last-child .counter-number {
  border-right: none;
}

.counter-number {
  border-left: unset;
  border-right: 1px solid #030073;
}

.home-sl-img {
  left: 0;
  right: unset;
}

.home-slider-block:nth-child(even) .home-sl-img {
  right: 0;
  left: unset;
}

.slide-item {
  flex-direction: row-reverse;
}

.slide-items-col {
  align-items: flex-end;
}

.rev-content {
  align-items: flex-end;
}

.fix-wrap-col {
  left: 0;
  right: unset;
}

.fix-wrap-item {
  border-radius: 0 1.9090909091rem 1.9090909091rem 0;
}

.row-pr-link {
  background-image: url("../iconsall/small-link-right.png");
  padding-right: 1.0909090909rem;
  padding-left: 0;
  background-position: right center;
}

.sil-post-link {
  border-right: 1px solid #303030;
  border-left: none;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: unset;
  margin-left: unset;
}

.sil-post-col:last-child .sil-post-link {
  border-right: none;
}

div.wpcf7 textarea {
  background-position: 9px 8px;
}

.contact-form-wrap div.wpcf7 input[type=submit] {
  background-image: url("../iconsall/submit-blue-l.png");
  padding-left: 15px;
}

@media (max-width: 1200px) {
  .counter-item:nth-child(3n) .counter-number {
    border-right: none;
  }
}
@media (max-width: 768px) {
  #MobNavBtn, nav#MainNav {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #MobNavBtn {
    right: unset;
    left: 100%;
  }

  nav#MainNav {
    right: unset;
    left: -200px;
  }

  nav#MainNav.active {
    left: 0;
    right: unset;
  }

  .faq-icon {
    margin-right: 0;
  }

  .question-header {
    padding: 10px 1.5909090909rem 10px 0;
  }

  .faq .answer-body {
    padding: 0.9090909091rem 0.9090909091rem 0.9090909091rem 2.0454545455rem;
  }

  .counter-item:nth-child(even) .counter-number {
    border-right: none;
  }
}

/*# sourceMappingURL=ltr.css.map */
