@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "header-footer";
@import "vacancy";
@import "editions";

body{
  font-family: $heebo;
  direction: rtl;
  text-align: right;
  padding-top: size(100);
}
.wow {
  visibility: hidden;
}
.page-body {
  padding-top: size(50);
}
.block-title {
  @include base-title;
  color: $title-color;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: size(20);
}
.base-output {
  p, h1, h2, h3, h4, h5, h6, li {
	color: #031617;
	font-weight: 400;
  }
  p, li {
	@include base-text;
  }
  h1, h2 {
	@include base-title;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	@include mid-bigger-title;
  }
  h5 {
	@include mid-text;
  }
  h6 {
	font-size: size(22);
	line-height: size(24);
  }
  li {
	list-style: disc;
	margin-right: 1rem;
  }
  ul {
	margin: size(20) 0;
  }
}
.base-output-contact {
  margin: size(53) 0;
  p, h1, h2, h3, h4, h5, h6, li {
	color: #000000;
	font-weight: 400;
	text-align: center;
  }
  p, li {
	font-size: size(28);
	line-height: size(28);
  }
  h1, h2 {
	@include base-title;
	font-weight: 700;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	@include mid-bigger-title;
  }
  h5 {
	@include mid-text;
  }
  h6 {
	font-size: size(22);
	line-height: size(24);
  }
  li {
	list-style: disc;
	margin-right: 1rem;
  }
  ul {
	margin: size(20) 0;
  }
}
.reg-text-output {
  p, li {
	color: #4d4d4c;
  }

}
.slider-text-output {
  p, h1, h2, h3, h4, h5, h6, li {
	color: #ffffff;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: size(15);
  }
}
.base-single-output {
  p, li {
	color: #585858;
  }
  p {
	margin-bottom: size(25);
  }
  h1, h2, h3, h4, h5, h6 {
	color: #39393a;
  }
}
//Sliders
.slick-prev:before, .slick-next:before{
  color: transparent;
}
.slick-prev, .slick-next {
  z-index: 333;
  background-repeat: no-repeat;
  background-position: center;
}
//Homepage
.main-video-wrapper {
  @include d-center;
  width: 100%;
  height: 100%;
  position: relative;
  video {
	width: 100%;
	height: 100%;
  }
  svg {
	position: absolute;
  }
}
.main-play {
  @include d-center;
  @include overlay;
  cursor: pointer;
  svg {
	width: size(99);
  }
}




//Single
.single-form-col {
  padding: size(40) 10%;
  background-color: $blue-main;
  background-image: url("../img/part-back.png");
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: size(20);
}
.share-text {
  color: #313131;
  font-size:size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(28);
}
.social-share-link {
  width: size(46);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.single-form-col {
  @include d-center;
  flex-direction: column;
  .logo {
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 1rem;
  }
}
//About
.partner-item {
  @include d-center;
  margin-bottom: size(30);
}
.mid-text {
  @include mid-bigger-title;
  font-weight: 400;
  text-align: center;
  color: $text-color;
}
.worker-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: size(60);
}
.about-team-img {
  display: flex;
  width: 95%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: size(30);
  &:after {
	content: '';
	display: block;
	padding-bottom: 95%;
  }
}
.about-page-image {
  width: 100%;
}
.about-page {
  margin: size(50) 0;
  .text-wrap {
	padding-top: size(50);
	padding-bottom: size(50);
  }
}
.col-about-content:nth-child(even) .reverse-row-about {
  flex-direction: row-reverse;
}
.why-us-block {
  padding-top: size(37);
  background-color: #ebebeb;
  background-image: url("../img/about-benefits-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: size(65) 0;
}
.why-img-col {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.why-text {
  @include base-text;
  color: #727272;
}
.why-title {
  color: #434244;
  @include mid-bigger-title;
  font-weight: 700;
  margin-bottom: size(10);
}
.step-item {
  margin-bottom: size(24);
}
.number-circle {
  @include d-center;
  background-color: $orange-main;
  border-radius: 50%;
  width: size(52);
  height: size(52);
  padding: size(10);
}
.reason-title {
  color: $blue-main;
  font-size: size(80);
  line-height: size(78);
  font-weight: 700;
}
.reason-small-title {
  color: $blue-main;
  font-size: size(45);
  line-height: size(45);
  font-weight: 400;
}
.reason-number {
  color: $orange-main;
  font-size: size(183);
  line-height: size(117);
  font-weight: 700;
  font-family: $mikhmoret;
}
.step-item-main {
  margin-bottom: size(50);
}
//Gallery
.gallery-item {
  @include d-center;
  position: relative;
  border-radius: size(23);
  margin-bottom: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
	content: '';
	display: block;
	padding-bottom: 62%;
  }
  &:hover .gallery-overlay {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.gallery-overlay {
  @include d-center;
  @include overlay;
  border-radius: size(23);
  background-color: rgba(3, 0, 115, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
}
.overlay-video {
  @include d-center;
  @include overlay;
  svg {
	width: 10%;
  }
}
.overlay-plus {
  color: #ffffff;
  font-family: $almoni;
  font-size: size(50);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.col-gal {
  padding: 0 10px;
  display: none;
  &.show {
	display: block;
  }
  &.hide {
	display: none;
  }
}
.gallery-body {
  margin-top: size(90);
  padding-bottom: size(50);
}
.page-body {
  nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }
  .nav-tabs {
	border: none;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 1rem;
  }
  .nav-tabs .nav-link {
	background: none;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }
  .nav-item .nav-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: size(22);
	line-height: size(24);
	color: #272727;
	&.main-nav-link {
	  font-weight: 500;
	  text-align: center;
	  min-height: size(56);
	  border-radius: size(23);
	  border: 2px solid $orange-main;
	  background-color: #ffffff;
	  white-space: nowrap;
	}
  }
  .nav-tabs .nav-link.main-nav-link.active, .nav-tabs .nav-item.show .nav-link.main-nav-link {
	color: #ffffff;
	background-color: $orange-main;
  }
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  }
  .nav-item.tab-style-col {
	border-left: 1px solid #272727;
	@include d-center;
	margin-bottom: 1rem;
	&:last-child {
	  border-left: none;
	}
	.sub-tab {
	  padding: 0;
	}
  }
  .nav-tabs .nav-link.sub-tab.active, .nav-tabs .nav-item.show .nav-link.sub-tab {
	color: $orange-main;
  }
}
@import "product";
//Lesson template
.files-block {
  border-radius: size(23);
  border: 2px solid $orange-main;
  background-color: #ffffff;
}
.pdf-wrap {
  svg {
	width: size(45);
  }
}
.down-wrap {
  img {
	width: size(38);
  }
}
.pdf-item-wrap {
  border-bottom: 1px solid rgba(77, 77, 76, 0.2);
  padding: size(36) size(20);
}
.pdf-title {
  @include base-text;
  color: $blue-main;
  font-weight: 400;
  margin-bottom: size(10);
}
.pdf-text {
  @include base-text;
  color: #4d4d4c;
  font-weight: 400;
}
//Homepage
.home-offer-block {
  position: relative;
  @include d-center;
  padding: 3% 0;
}
.offer-img-home {
  width: 90%;
  position: relative;
  z-index: 9;
}
.home-offer-block-inside {
  @include d-center;
  position: absolute;
  bottom: 19%;
  width: 100%;
  height: 55%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $blue-main;
  background-image: url("../img/home-offer-back.png");
}
.logo-offer {
  flex: 0 0 20%;
  max-width: 20%;
}
//Slider with products
.products-slider-block {
  margin: size(70) 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(19);
	height: size(34);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: 35%;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/pr-slider-arrow-right.png");
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/pr-slider-arrow-left.png");
  }
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: unset !important;
	background-color: transparent;
  }
}
.base-link {
  position: relative;
  @include d-center;
  min-width: size(285);
  min-height: size(51);
  border-radius: size(23);
  background-color: $blue-main;
  @include mid-text;
  color: #ffffff;
  text-align: center;
  padding: size(10) size(65) size(10) size(92);
  &:after {
	position: absolute;
	content: '';
	@include d-center;
	background-color: #ffffff;
	background-image: url("../iconsall/blue-arrow-left.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
	left: 8px;
	width: size(38);
	height: size(38);
	border-radius: 50%;
	transition: background-position .5s;
  }
  &:hover {
	color: #ffffff;
	&:after {
	  background-position: 3px;
	  transition: background-position .5s;
	}
  }
}
.base-link-orange {
  background-color: transparent;
  border: 2px solid $orange-main;
  color: $text-color;
  &:after {
	background-color: $orange-main;
	background-image: url("../iconsall/white-arrow-left.png");
  }
  &:hover {
	color: $text-color;
	&:after {
	  background-position: 3px;
	  transition: background-position .5s;
	}
  }
}

.slide-product {
  padding: size(15);
}
//Reviews
.reviews-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  margin: size(50) 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(30);
	height: size(26);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/rev-arrow-right.png");
	right: -2rem;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/rev-arrow-left.png");
	left: -2rem;
  }
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: unset !important;
	background-color: transparent;
  }
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  border-radius: size(20);
  padding: 2rem 12% size(30) 10%;
  margin: 0 1rem 0 3.5rem;
}
.slide-rev {
  background-image: url("../img/review-back.png");
  background-position: center;
  background-size: calc(100% - 3.5rem) 100%;
  background-repeat: no-repeat;
  min-height: size(280);
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.rev-pop-trigger {
  width: size(28);
  height: size(28);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: center;
  margin-right: 3rem;
  background-color: $blue-main;
  border-radius: 50%;
  color: #ffffff;
  font-size: size(22);
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
}
.review-image-wrap {
  @include d-center;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 7rem;
  width: 7rem;
  height: 7rem;
  padding: size(20);
  margin-left: -5.5rem;
  img {
	width: 90%;
  }
}
.review-name {
  color: #39393a;
  font-size: size(22);
  line-height: size(24);
  margin-bottom: size(10);
  font-weight: 500;
}
.review-prev {
  @include base-text;
  color: #4d4d4c;
  margin-bottom: size(18);
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(20);
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: size(20);
  background-color: #ffffff;
  border: 2px solid $blue-main;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: $blue-main;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Content block on homepage
.content-part-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: size(30) 0;
}
.content-part {
  position: relative;
  flex: 0 0 28%;
  max-width: 28%;
  background-color: $blue-main;
  background-image: url("../img/part-back.png");
  @include d-center;
}
.content-part-big {
  @include d-center;
  flex-direction: column;
  flex: 0 0 44%;
  max-width: 44%;
  padding: 5%;
  background-color: $orange-main;
}
.img-worker-home {
  position: absolute;
  bottom: 0;
  max-height: calc(100% + 1.5rem);
  max-width: calc(100% + 2rem);
  z-index: 2;
}
//Home gallery
.home-gallery-block {
  margin: size(70) 0;
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left.png");
  }
}
.slide-gallery-item {
  display: flex;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
}
//Form homepage
.home-form-block {
  position: relative;
  div.wpcf7 input[type="submit"] {
	background-image: url("../iconsall/submit-blue-r.png");
	background-color: $blue-main;
  }
}
.top-line {
  position: absolute;
  top: -5px;
  right: 0;
  width: 100%;
}
.home-form-title, .home-form-subtitle {
  text-align: center;
  color: #39393a;
}
.home-form-title {
  font-size: size(40);
  line-height: size(42);
  font-weight: 700;
}
.home-form-subtitle {
  @include base-title;
  margin-bottom: size(24);
}
.form-home-wrap {
  background-color: #f4f2f2;
  @include d-center;
  flex-direction: column;
}
.logo-home-form {
  flex: 0 0 25%;
  max-width: 25%;
}
.home-registration-block {
  margin: size(80) 0;
}
.reg-img-col {
  @include d-center;
}
.reg-col-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .base-link {
	align-self: flex-end;
  }
}
//Home form for vacancies
.vacancy-form-block {
  background-color: #f4f2f2;
  background-image: url("../img/home-form-back.png");
  @include back-img;
}
.home-vac-form-title {
  color: $orange-main;
  font-size: size(55);
  line-height: size(55);
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  font-weight: 700;
}
.home-vac-form-subtitle {
  color: #39393a;
  font-size: size(35);
  line-height: size(36);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: size(25);
}
.home-form-vac {
  @include d-center;
  flex-direction: column;
  padding: size(65) 15px;
}
.vac-img-col-r {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.vac-img-col-l {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
	position: absolute;
	bottom: 0;
	max-height: calc(100% + 2rem);
  }
}
//Single-camp
.camp-body {
  .base-output h3 {
	font-weight: 500;
	font-size: size(23);
	line-height: size(25);
  }
}
.base-title {
  @include base-title;
  color: $text-color;
  font-weight: 700;
  margin-bottom: size(20);
}
.camp-img-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  img {
	margin-bottom: size(20);
	width: 100%;
  }
  .emblem {
	max-width: calc(100% - 2rem);
	margin-bottom: size(32);
  }
}
//Home slider block
.home-slider-block {
  padding: size(80) 0 size(40) 0;
  .block-title {
	margin-bottom: size(30);
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(45);
	height: size(22);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: calc(100% + 4rem);
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	right: calc(50% - 2.5rem);
	left: unset;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left.png");
	left: calc(50% - 2.5rem);
  }
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: unset !important;
	background-color: transparent;
  }
}
.home-slider-wrapper {
  padding: size(27) size(39);
  box-shadow: -8px 1px 17px 1px rgba(43, 40, 40, 0.1);
  border-radius: size(23);
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.slide-title {
  color: $text-color;
  @include mid-text;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: size(25);
}
.camp-course-img {
  border-radius: size(23);
  width: 100%;
}
.slide-column {
  .base-link {
	align-self: center;
  }
}
.slide-items-col, .slide-item, .slide-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.slide-item {
  flex-direction: row;
  margin-bottom: size(36);
}
.slide-icon {
  min-width: size(56);
  width: size(56);
  margin: 0 size(22);
}
.slide-text-title {
  @include base-text;
  font-weight: 500;
  color: $text-color;
}
.home-slider-row {
  position: relative;
}
.home-sl-img {
  position: absolute;
  top: 0;
  right: 0;
}
.slider-col-wrap {
  position: relative;
  z-index: 7;
}
.home-slider-block:nth-child(even) {
  .home-slider-row {
	flex-direction: row-reverse;
  }
  .home-sl-img {
	left: 0;
	right: unset;
  }
  .base-link-orange {
	align-self: flex-start !important;
  }
  .slide-row-inside {
	flex-direction: row-reverse;
  }
}
//Counter
.counter-block {
  margin: size(60) 0;
}
.counter-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: size(30);
  &:last-child .counter-number {
	border-left: none;
  }
}
.counter-number {
  color: $blue-main;
  font-size: size(70);
  font-weight: 700;
  text-align: center;
  margin-bottom: size(24);
  border-left: 1px solid $blue-main;
}
//Sillabus
.sil-link {
  @include d-center;
  @include base-text;
  color: #ffffff;
  text-align: center;
  padding: size(15) size(30);
  background-color: $orange-main;
  transition: background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $blue-main;
	transition: background-color .5s;
  }
}
.curr-sil-link-item {
  background-color: $blue-main;
}
.sil-col {
  padding: 0 2.5px;
  margin-bottom: 5px;
}
.sil-post-link {
  color: #303030;
  font-size: size(22);
  line-height: size(24);
  font-weight: 400;
  border-left: 1px solid #303030;
  margin-left: 10px;
  padding-left: 10px;
  &:hover {
	color: $blue-main;
  }
}
.sil-post-col:last-child .sil-post-link {
  border-left: none;
}
.curr-sil-link {
  font-weight: 700;
}

.sillabus-body {
  table, tr, td {
	border: 2px solid $blue-main;
  }
  thead th {
	background-color: $blue-main;
	color: #ffffff;
  }
  thead th, .number-col, .name-col {
	font-size: size(24);
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(34);
	text-align: center;
	vertical-align: middle;
  }
  td {
	vertical-align: middle;
  }
  .number-col {
	color: #303030;
  }
}
.row-pr-link {
  margin-top: size(20);
  @include base-text;
  color: $blue-main;
  background-image: url("../iconsall/small-link-left.png");
  padding-left: size(24);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: size(19);
  &:hover {
	color: $blue-main;
  }
  align-self: flex-end;
}
.row-pr-item {
  display: flex;
  flex-direction: column;
  margin-bottom: size(50);
}
.base-text-row {
  @include base-text;
  color: #303030;
}
//Contact page
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(60);
}
.contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(199);
  height: size(199);
  border-radius: 50%;
  border: 2px solid $orange-main;
  background-color: #ffffff;
  margin-bottom: size(24);
  padding: size(55);
}
.contact-info, .contact-info-title {
  text-align: center;
  color: #000000;
}
.contact-info-title {
  font-size: size(28);
  line-height: size(28);
  font-weight: 400;
}
.contact-info {
  font-size: size(24);
  line-height: size(26);
  font-weight: 400;
}
.map-image {
  img {
	width: 100%;
  }
}
.contact-form-wrap {
  padding: size(76) 10%;
  background-color: $blue-main;
  border-radius: size(23);
  div.wpcf7 input[type="submit"] {
	background-color: transparent;
	box-shadow: 0 0 57px rgba(0, 0, 0, 0.15);
	border: 2px solid #ffffff;
	background-image: url("../iconsall/submit-blue-r.png");
  }
}
//News on homepage
.news-block-main {
  margin: size(70) 0;
  .slick-prev, .slick-next {
	width: size(40);
	height: size(39);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: calc(100% - 3rem);
  }
  .slick-prev {
	background-image: url("../iconsall/news-arrow-top.png");
	right: calc(50% - 2.5rem);
  }
 .slick-next{
	background-image: url("../iconsall/news-arrow-bottom.png");
	left: calc(50% - 2.5rem);
  }
  button:active, button:focus, input:active, textarea:active, input:focus, textarea:focus {
	box-shadow: unset !important;
	background-color: transparent;
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
  }
}
.news-block-wrap {
  background-color: #f4f2f2;
  padding: size(44) 15px size(60) 15px;
  margin-bottom: size(24);
}
.class-slider {
  height: 100%;
  margin-bottom: 3rem;
}
.news-base-title {
  @include base-title;
  font-weight: 700;
  text-align: center;
  margin-bottom: size(30);
  color: #000000;
}
.news-item-text {
  color: #505050;
  font-family: $assistant;
  font-size: size(24);
  font-style: normal;
  letter-spacing: normal;
  line-height: size(42);
}
.chunks-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.event-item-wrap {
  flex: 0 0 50%;
  max-width: 50%;
}
.event-item {
  background-color: #ffffff;
  border-right: size(12) solid $blue-main;
  padding: size(28) size(55);
  margin: size(12) size(18);
  .news-item-text {
	line-height: size(33);
  }
}
.slide-news-item {
  padding: size(24) 10%;
  border-bottom: 2px solid $blue-main;
  .news-item-text {
	text-align: center;
  }
}

@import "responsive";
